Number 5: Using the pandas read_csv() method, read the GDP dataset into your notebook as a DataFrame called gdp_df. Take a look at the first 6 rows.

# Question 3: 
Import the required packages with their customary aliases as follows:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import matplotlib.pyplot as plt

In [5]:
import seaborn as sns

# Question 4:
Use the %matplotlib inline magic command so that your plots show in the notebook without having to call plt.show() every time.

In [6]:
%matplotlib inline

# Question 5: 
Using the pandas read_csv() method, read the GDP dataset into your notebook as a DataFrame called gdp_df. Take a look at the first 6 rows.

In [7]:
gdp_df = pd.read_csv("../Data/gdp_percapita.csv", nrows=6868)
print(gdp_df[1:7])

  Country or Area  Year        Value  Value Footnotes
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN
5     Afghanistan  2014  2102.385234              NaN
6     Afghanistan  2013  2116.465454              NaN

# Question 6: 
Repeat for the internet use dataset. Call this DataFrame internet_df. Take a look at the first six rows.

In [8]:
internet_df = pd.read_csv("../Data/internet_use.csv", nrows=4495)
print(gdp_df[1:7])

  Country or Area  Year        Value  Value Footnotes
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN
5     Afghanistan  2014  2102.385234              NaN
6     Afghanistan  2013  2116.465454              NaN

# Question 7: 
Look at the shape of each DataFrame - how many rows? How many columns? gdp_df has 6868 rows and 4 columns and internet_df has 4495 rows and 6 columns

In [9]:
print(gdp_df.shape)

(6868, 4)

In [10]:
print(internet_df.shape)

(4495, 6)

# Question 8: 
Take a look at the datatypes for the columns in each DataFrame.

In [11]:
print(gdp_df.dtypes)

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

In [12]:
print(internet_df.dtypes)

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
Unnamed: 4         float64
Unnamed: 5         float64
dtype: object

# Question 9: 
Take a look at the last 10 rows of each DataFrame in turn.

In [13]:
print(gdp_df[-10:])

     Country or Area  Year        Value  Value Footnotes
6858        Zimbabwe  1999  3600.849291              NaN
6859        Zimbabwe  1998  3653.920016              NaN
6860        Zimbabwe  1997  3580.048793              NaN
6861        Zimbabwe  1996  3520.430146              NaN
6862        Zimbabwe  1995  3226.413930              NaN
6863        Zimbabwe  1994  3263.934978              NaN
6864        Zimbabwe  1993  3033.504852              NaN
6865        Zimbabwe  1992  3054.889178              NaN
6866        Zimbabwe  1991  3426.598094              NaN
6867        Zimbabwe  1990  3324.348171              NaN

In [14]:
print(gdp_df[6858:6868])

     Country or Area  Year        Value  Value Footnotes
6858        Zimbabwe  1999  3600.849291              NaN
6859        Zimbabwe  1998  3653.920016              NaN
6860        Zimbabwe  1997  3580.048793              NaN
6861        Zimbabwe  1996  3520.430146              NaN
6862        Zimbabwe  1995  3226.413930              NaN
6863        Zimbabwe  1994  3263.934978              NaN
6864        Zimbabwe  1993  3033.504852              NaN
6865        Zimbabwe  1992  3054.889178              NaN
6866        Zimbabwe  1991  3426.598094              NaN
6867        Zimbabwe  1990  3324.348171              NaN

In [15]:
print(internet_df[-10:])

     Country or Area  Year     Value  Value Footnotes  Unnamed: 4  Unnamed: 5
4485        Zimbabwe  2002  3.994356              NaN         NaN         NaN
4486        Zimbabwe  2001  0.799846              NaN         NaN         NaN
4487        Zimbabwe  2000  0.401434              NaN         NaN         NaN
4488        Zimbabwe  1999  0.161676              NaN         NaN         NaN
4489        Zimbabwe  1998  0.081648              NaN         NaN         NaN
4490        Zimbabwe  1997  0.033080              NaN         NaN         NaN
4491        Zimbabwe  1996  0.016790              NaN         NaN         NaN
4492        Zimbabwe  1995  0.007684              NaN         NaN         NaN
4493        Zimbabwe  1994  0.001739              NaN         NaN         NaN
4494        Zimbabwe  1990  0.000000              NaN         NaN         NaN

In [16]:
print(internet_df[4485:4495])

     Country or Area  Year     Value  Value Footnotes  Unnamed: 4  Unnamed: 5
4485        Zimbabwe  2002  3.994356              NaN         NaN         NaN
4486        Zimbabwe  2001  0.799846              NaN         NaN         NaN
4487        Zimbabwe  2000  0.401434              NaN         NaN         NaN
4488        Zimbabwe  1999  0.161676              NaN         NaN         NaN
4489        Zimbabwe  1998  0.081648              NaN         NaN         NaN
4490        Zimbabwe  1997  0.033080              NaN         NaN         NaN
4491        Zimbabwe  1996  0.016790              NaN         NaN         NaN
4492        Zimbabwe  1995  0.007684              NaN         NaN         NaN
4493        Zimbabwe  1994  0.001739              NaN         NaN         NaN
4494        Zimbabwe  1990  0.000000              NaN         NaN         NaN

# Question 10: 
Drop the value footnotes column from both DataFrames. Check that this worked as expected.

In [17]:
internet_df.drop(internet_df.columns[[3]], axis=1, inplace=True)

In [18]:
print(internet_df)

     Country or Area  Year     Value  Unnamed: 4  Unnamed: 5
0        Afghanistan  2014  6.390000         NaN         NaN
1        Afghanistan  2013  5.900000         NaN         NaN
2        Afghanistan  2012  5.454545         NaN         NaN
3        Afghanistan  2011  5.000000         NaN         NaN
4        Afghanistan  2010  4.000000         NaN         NaN
...              ...   ...       ...         ...         ...
4490        Zimbabwe  1997  0.033080         NaN         NaN
4491        Zimbabwe  1996  0.016790         NaN         NaN
4492        Zimbabwe  1995  0.007684         NaN         NaN
4493        Zimbabwe  1994  0.001739         NaN         NaN
4494        Zimbabwe  1990  0.000000         NaN         NaN

[4495 rows x 5 columns]

In [19]:
gdp_df.drop(gdp_df.columns[[3]], axis=1, inplace=True)

In [20]:
print(gdp_df)

     Country or Area  Year        Value
0        Afghanistan  2019  2065.036398
1        Afghanistan  2018  2033.779002
2        Afghanistan  2017  2058.383832
3        Afghanistan  2016  2057.062164
4        Afghanistan  2015  2068.265904
...              ...   ...          ...
6863        Zimbabwe  1994  3263.934978
6864        Zimbabwe  1993  3033.504852
6865        Zimbabwe  1992  3054.889178
6866        Zimbabwe  1991  3426.598094
6867        Zimbabwe  1990  3324.348171

[6868 rows x 3 columns]

# Question 11:
Change the columns for the GDP Per Capita DataFrame to ‘Country’, ‘Year’, and ‘GDP_Per_Capita’.

Syntax:
df = df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})
Or rename the existing DataFrame (rather than creating a copy) 
df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'}, inplace=True)

In [22]:
gdp_df.rename(columns = {'Country or Area': 'Country', 'Value':'GDP_Per_Capita'}, inplace = True)
print(gdp_df)

          Country  Year  GDP_Per_Capita
0     Afghanistan  2019     2065.036398
1     Afghanistan  2018     2033.779002
2     Afghanistan  2017     2058.383832
3     Afghanistan  2016     2057.062164
4     Afghanistan  2015     2068.265904
...           ...   ...             ...
6863     Zimbabwe  1994     3263.934978
6864     Zimbabwe  1993     3033.504852
6865     Zimbabwe  1992     3054.889178
6866     Zimbabwe  1991     3426.598094
6867     Zimbabwe  1990     3324.348171

[6868 rows x 3 columns]

# Question 12:

Change the columns for the Internet Users DataFrame to ‘Country’, ‘Year’, and ‘Internet_Users_Pct’.

In [23]:
internet_df.rename(columns = {'Country or Area':'Country', 'Value':'Internet_Users_Pct'}, inplace = True)
print(internet_df)

          Country  Year  Internet_Users_Pct  Unnamed: 4  Unnamed: 5
0     Afghanistan  2014            6.390000         NaN         NaN
1     Afghanistan  2013            5.900000         NaN         NaN
2     Afghanistan  2012            5.454545         NaN         NaN
3     Afghanistan  2011            5.000000         NaN         NaN
4     Afghanistan  2010            4.000000         NaN         NaN
...           ...   ...                 ...         ...         ...
4490     Zimbabwe  1997            0.033080         NaN         NaN
4491     Zimbabwe  1996            0.016790         NaN         NaN
4492     Zimbabwe  1995            0.007684         NaN         NaN
4493     Zimbabwe  1994            0.001739         NaN         NaN
4494     Zimbabwe  1990            0.000000         NaN         NaN

[4495 rows x 5 columns]

# Question 13:
Merge the two DataFrames to one. Merge all rows from each of the two DataFrames. Call the new DataFrame gdp_and_internet_use.

pandas.merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)[source]

In [29]:
new_df2=pd.merge(internet_df, gdp_df, how='outer', on='Country', 'Year') 
print(new_df2)

SyntaxError: positional argument follows keyword argument (3506290859.py, line 1)

11363

In [30]:
new_df3=internet_df.merge(gdp_df[['Country', 'Year']])
print(new_df3)

          Country  Year  Internet_Users_Pct  Unnamed: 4  Unnamed: 5
0     Afghanistan  2014            6.390000         NaN         NaN
1     Afghanistan  2013            5.900000         NaN         NaN
2     Afghanistan  2012            5.454545         NaN         NaN
3     Afghanistan  2011            5.000000         NaN         NaN
4     Afghanistan  2010            4.000000         NaN         NaN
...           ...   ...                 ...         ...         ...
3453     Zimbabwe  1997            0.033080         NaN         NaN
3454     Zimbabwe  1996            0.016790         NaN         NaN
3455     Zimbabwe  1995            0.007684         NaN         NaN
3456     Zimbabwe  1994            0.001739         NaN         NaN
3457     Zimbabwe  1990            0.000000         NaN         NaN

[3458 rows x 5 columns]

In [31]:
new_df4=internet_df.merge(gdp_df[['Country', 'Year', 'GDP_Per_Capita']])
print(new_df4)

          Country  Year  Internet_Users_Pct  Unnamed: 4  Unnamed: 5  \
0     Afghanistan  2014            6.390000         NaN         NaN
1     Afghanistan  2013            5.900000         NaN         NaN
2     Afghanistan  2012            5.454545         NaN         NaN
3     Afghanistan  2011            5.000000         NaN         NaN
4     Afghanistan  2010            4.000000         NaN         NaN
...           ...   ...                 ...         ...         ...
3453     Zimbabwe  1997            0.033080         NaN         NaN
3454     Zimbabwe  1996            0.016790         NaN         NaN
3455     Zimbabwe  1995            0.007684         NaN         NaN
3456     Zimbabwe  1994            0.001739         NaN         NaN
3457     Zimbabwe  1990            0.000000         NaN         NaN

      GDP_Per_Capita
0        2102.385234
1        2116.465454
2        2075.491747
3        1904.559799
4        1957.029338
...              ...
3453     3580.048793
3454     3520.430146
3455     3226.413930
3456     3263.934978
3457     3324.348171

[3458 rows x 6 columns]

# Question 14:
Look at the first five rows of your new DataFrame to confirm it merged correctly.

In [34]:
print(new_df4.iloc[[1,2,3,4,5]])

       Country  Year  Internet_Users_Pct  Unnamed: 4  Unnamed: 5  \
1  Afghanistan  2013            5.900000         NaN         NaN
2  Afghanistan  2012            5.454545         NaN         NaN
3  Afghanistan  2011            5.000000         NaN         NaN
4  Afghanistan  2010            4.000000         NaN         NaN
5  Afghanistan  2009            3.550000         NaN         NaN

   GDP_Per_Capita
1     2116.465454
2     2075.491747
3     1904.559799
4     1957.029338
5     1758.904043

# Question 15:
Look at the last five rows to make sure the data is clean and as expected.

In [36]:
print(new_df4.iloc[[-1,-2,-3,-4,-5]])

       Country  Year  Internet_Users_Pct  Unnamed: 4  Unnamed: 5  \
3457  Zimbabwe  1990            0.000000         NaN         NaN
3456  Zimbabwe  1994            0.001739         NaN         NaN
3455  Zimbabwe  1995            0.007684         NaN         NaN
3454  Zimbabwe  1996            0.016790         NaN         NaN
3453  Zimbabwe  1997            0.033080         NaN         NaN

      GDP_Per_Capita
3457     3324.348171
3456     3263.934978
3455     3226.413930
3454     3520.430146
3453     3580.048793

# Question 16: 
Subset the combined DataFrame to keep only the data for 2004, 2009, and 2014. Check that this happened correctly.

In [38]:
new_df5 = new_df4[new_df4['Year'] == 2004]
print(new_df5)

                  Country  Year  Internet_Users_Pct  Unnamed: 4  Unnamed: 5  \
10            Afghanistan  2004            0.105809         NaN         NaN
23                Albania  2004            2.420388         NaN         NaN
44                Algeria  2004            4.634475         NaN         NaN
66                 Angola  2004            0.464815         NaN         NaN
86    Antigua and Barbuda  2004           24.266544         NaN         NaN
...                   ...   ...                 ...         ...         ...
3361              Uruguay  2004           17.063098         NaN         NaN
3383           Uzbekistan  2004            2.593725         NaN         NaN
3404              Vanuatu  2004            4.746603         NaN         NaN
3424               Zambia  2004            2.013550         NaN         NaN
3446             Zimbabwe  2004            6.564045         NaN         NaN

      GDP_Per_Capita
10       1200.278256
23       7604.838002
44      10058.435940
66       5593.241537
86      18745.681530
...              ...
3361    12479.966870
3383     3221.189333
3404     2792.356252
3424     2261.766537
3446     2480.859342

[157 rows x 6 columns]

In [46]:
new_df7 = new_df4[new_df4['Year'] == 2004]
print(new_df7)

                  Country  Year  Internet_Users_Pct  Unnamed: 4  Unnamed: 5  \
10            Afghanistan  2004            0.105809         NaN         NaN
23                Albania  2004            2.420388         NaN         NaN
44                Algeria  2004            4.634475         NaN         NaN
66                 Angola  2004            0.464815         NaN         NaN
86    Antigua and Barbuda  2004           24.266544         NaN         NaN
...                   ...   ...                 ...         ...         ...
3361              Uruguay  2004           17.063098         NaN         NaN
3383           Uzbekistan  2004            2.593725         NaN         NaN
3404              Vanuatu  2004            4.746603         NaN         NaN
3424               Zambia  2004            2.013550         NaN         NaN
3446             Zimbabwe  2004            6.564045         NaN         NaN

      GDP_Per_Capita
10       1200.278256
23       7604.838002
44      10058.435940
66       5593.241537
86      18745.681530
...              ...
3361    12479.966870
3383     3221.189333
3404     2792.356252
3424     2261.766537
3446     2480.859342

[157 rows x 6 columns]

In [47]:
new_df8 =new_df4.loc[new_df4['Year'].isin([2004,2009,2014])]
print(new_df8)

          Country  Year  Internet_Users_Pct  Unnamed: 4  Unnamed: 5  \
0     Afghanistan  2014            6.390000         NaN         NaN
5     Afghanistan  2009            3.550000         NaN         NaN
10    Afghanistan  2004            0.105809         NaN         NaN
13        Albania  2014           60.100000         NaN         NaN
18        Albania  2009           41.200000         NaN         NaN
...           ...   ...                 ...         ...         ...
3419       Zambia  2009            6.310000         NaN         NaN
3424       Zambia  2004            2.013550         NaN         NaN
3436     Zimbabwe  2014           19.890000         NaN         NaN
3441     Zimbabwe  2009           11.360000         NaN         NaN
3446     Zimbabwe  2004            6.564045         NaN         NaN

      GDP_Per_Capita
0        2102.385234
5        1758.904043
10       1200.278256
13      11623.866680
18      10346.864200
...              ...
3419     2917.516220
3424     2261.766537
3436     2955.240287
3441     1925.364381
3446     2480.859342

[482 rows x 6 columns]

# Question 17:
Create three new DataFrames, one for 2004, one for 2009, and one for 2014. Give them meaningful names that aren't too long.