Number 5: Using the pandas read_csv() method, read the GDP dataset into your notebook as a DataFrame called gdp_df. Take a look at the first 6 rows.

# Question 3: 
Import the required packages with their customary aliases as follows:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
import seaborn as sns

# Question 4:
Use the %matplotlib inline magic command so that your plots show in the notebook without having to call plt.show() every time.

In [5]:
%matplotlib inline

# Question 5: 
Using the pandas read_csv() method, read the GDP dataset into your notebook as a DataFrame called gdp_df. Take a look at the first 6 rows.

In [6]:
gdp_df = pd.read_csv("../Data/gdp_percapita.csv", nrows=6868)
print(gdp_df.head(6))

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2019  2065.036398              NaN
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN
5     Afghanistan  2014  2102.385234              NaN

# Question 6: 
Repeat for the internet use dataset. Call this DataFrame internet_df. Take a look at the first six rows.

In [7]:
internet_df = pd.read_csv("../Data/internet_use.csv", nrows=4495)
print(gdp_df.head(6))

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2019  2065.036398              NaN
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN
5     Afghanistan  2014  2102.385234              NaN

# Question 7: 
Look at the shape of each DataFrame - how many rows? How many columns? gdp_df has 6868 rows and 4 columns and internet_df has 4495 rows and 6 columns

In [8]:
print(gdp_df.shape)

(6868, 4)

In [9]:
print(internet_df.shape)

(4495, 6)

# Question 8: 
Take a look at the datatypes for the columns in each DataFrame.

In [10]:
print(gdp_df.dtypes)

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

In [11]:
print(internet_df.dtypes)

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
Unnamed: 4         float64
Unnamed: 5         float64
dtype: object

# Question 9: 
Take a look at the last 10 rows of each DataFrame in turn.

In [12]:
print(gdp_df.tail(10))

     Country or Area  Year        Value  Value Footnotes
6858        Zimbabwe  1999  3600.849291              NaN
6859        Zimbabwe  1998  3653.920016              NaN
6860        Zimbabwe  1997  3580.048793              NaN
6861        Zimbabwe  1996  3520.430146              NaN
6862        Zimbabwe  1995  3226.413930              NaN
6863        Zimbabwe  1994  3263.934978              NaN
6864        Zimbabwe  1993  3033.504852              NaN
6865        Zimbabwe  1992  3054.889178              NaN
6866        Zimbabwe  1991  3426.598094              NaN
6867        Zimbabwe  1990  3324.348171              NaN

In [13]:
print(internet_df.tail(10))

     Country or Area  Year     Value  Value Footnotes  Unnamed: 4  Unnamed: 5
4485        Zimbabwe  2002  3.994356              NaN         NaN         NaN
4486        Zimbabwe  2001  0.799846              NaN         NaN         NaN
4487        Zimbabwe  2000  0.401434              NaN         NaN         NaN
4488        Zimbabwe  1999  0.161676              NaN         NaN         NaN
4489        Zimbabwe  1998  0.081648              NaN         NaN         NaN
4490        Zimbabwe  1997  0.033080              NaN         NaN         NaN
4491        Zimbabwe  1996  0.016790              NaN         NaN         NaN
4492        Zimbabwe  1995  0.007684              NaN         NaN         NaN
4493        Zimbabwe  1994  0.001739              NaN         NaN         NaN
4494        Zimbabwe  1990  0.000000              NaN         NaN         NaN

# Question 10: 
Drop the value footnotes column from both DataFrames. Check that this worked as expected.

In [14]:
internet_df.drop(internet_df.columns[[3]], axis=1, inplace=True)

In [15]:
print(internet_df)

     Country or Area  Year     Value  Unnamed: 4  Unnamed: 5
0        Afghanistan  2014  6.390000         NaN         NaN
1        Afghanistan  2013  5.900000         NaN         NaN
2        Afghanistan  2012  5.454545         NaN         NaN
3        Afghanistan  2011  5.000000         NaN         NaN
4        Afghanistan  2010  4.000000         NaN         NaN
...              ...   ...       ...         ...         ...
4490        Zimbabwe  1997  0.033080         NaN         NaN
4491        Zimbabwe  1996  0.016790         NaN         NaN
4492        Zimbabwe  1995  0.007684         NaN         NaN
4493        Zimbabwe  1994  0.001739         NaN         NaN
4494        Zimbabwe  1990  0.000000         NaN         NaN

[4495 rows x 5 columns]

In [16]:
internet_df.drop(internet_df.columns[[3,4]], axis=1, inplace=True)

In [17]:
print(internet_df)

     Country or Area  Year     Value
0        Afghanistan  2014  6.390000
1        Afghanistan  2013  5.900000
2        Afghanistan  2012  5.454545
3        Afghanistan  2011  5.000000
4        Afghanistan  2010  4.000000
...              ...   ...       ...
4490        Zimbabwe  1997  0.033080
4491        Zimbabwe  1996  0.016790
4492        Zimbabwe  1995  0.007684
4493        Zimbabwe  1994  0.001739
4494        Zimbabwe  1990  0.000000

[4495 rows x 3 columns]

In [18]:
gdp_df.drop(gdp_df.columns[[3]], axis=1, inplace=True)

In [19]:
print(gdp_df)

     Country or Area  Year        Value
0        Afghanistan  2019  2065.036398
1        Afghanistan  2018  2033.779002
2        Afghanistan  2017  2058.383832
3        Afghanistan  2016  2057.062164
4        Afghanistan  2015  2068.265904
...              ...   ...          ...
6863        Zimbabwe  1994  3263.934978
6864        Zimbabwe  1993  3033.504852
6865        Zimbabwe  1992  3054.889178
6866        Zimbabwe  1991  3426.598094
6867        Zimbabwe  1990  3324.348171

[6868 rows x 3 columns]

# Question 11:
Change the columns for the GDP Per Capita DataFrame to ‘Country’, ‘Year’, and ‘GDP_Per_Capita’.

Syntax:
df = df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})
Or rename the existing DataFrame (rather than creating a copy) 
df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'}, inplace=True)

In [20]:
gdp_df.rename(columns = {'Country or Area': 'Country', 'Value':'GDP_Per_Capita'}, inplace = True)
print(gdp_df)

          Country  Year  GDP_Per_Capita
0     Afghanistan  2019     2065.036398
1     Afghanistan  2018     2033.779002
2     Afghanistan  2017     2058.383832
3     Afghanistan  2016     2057.062164
4     Afghanistan  2015     2068.265904
...           ...   ...             ...
6863     Zimbabwe  1994     3263.934978
6864     Zimbabwe  1993     3033.504852
6865     Zimbabwe  1992     3054.889178
6866     Zimbabwe  1991     3426.598094
6867     Zimbabwe  1990     3324.348171

[6868 rows x 3 columns]

# Question 12:

Change the columns for the Internet Users DataFrame to ‘Country’, ‘Year’, and ‘Internet_Users_Pct’.

In [21]:
internet_df.rename(columns = {'Country or Area':'Country', 'Value':'Internet_Users_Pct'}, inplace = True)
print(internet_df)

          Country  Year  Internet_Users_Pct
0     Afghanistan  2014            6.390000
1     Afghanistan  2013            5.900000
2     Afghanistan  2012            5.454545
3     Afghanistan  2011            5.000000
4     Afghanistan  2010            4.000000
...           ...   ...                 ...
4490     Zimbabwe  1997            0.033080
4491     Zimbabwe  1996            0.016790
4492     Zimbabwe  1995            0.007684
4493     Zimbabwe  1994            0.001739
4494     Zimbabwe  1990            0.000000

[4495 rows x 3 columns]

# Question 13:
Merge the two DataFrames to one. Merge all rows from each of the two DataFrames. Call the new DataFrame gdp_and_internet_use.

pandas.merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)[source]

In [22]:
gdp_and_internet_use=pd.merge(internet_df, gdp_df, how='outer', on=['Country', 'Year']) 
print(gdp_and_internet_use)

          Country  Year  Internet_Users_Pct  GDP_Per_Capita
0     Afghanistan  2014            6.390000     2102.385234
1     Afghanistan  2013            5.900000     2116.465454
2     Afghanistan  2012            5.454545     2075.491747
3     Afghanistan  2011            5.000000     1904.559799
4     Afghanistan  2010            4.000000     1957.029338
...           ...   ...                 ...             ...
7900     Zimbabwe  2016                 NaN     2934.733650
7901     Zimbabwe  2015                 NaN     2958.209004
7902     Zimbabwe  1993                 NaN     3033.504852
7903     Zimbabwe  1992                 NaN     3054.889178
7904     Zimbabwe  1991                 NaN     3426.598094

[7905 rows x 4 columns]

# Question 14:
Look at the first five rows of your new DataFrame to confirm it merged correctly.

In [23]:
print(gdp_and_internet_use.head(5))

       Country  Year  Internet_Users_Pct  GDP_Per_Capita
0  Afghanistan  2014            6.390000     2102.385234
1  Afghanistan  2013            5.900000     2116.465454
2  Afghanistan  2012            5.454545     2075.491747
3  Afghanistan  2011            5.000000     1904.559799
4  Afghanistan  2010            4.000000     1957.029338

# Question 15:
Look at the last five rows to make sure the data is clean and as expected.

In [24]:
print(gdp_and_internet_use.tail(5))

       Country  Year  Internet_Users_Pct  GDP_Per_Capita
7900  Zimbabwe  2016                 NaN     2934.733650
7901  Zimbabwe  2015                 NaN     2958.209004
7902  Zimbabwe  1993                 NaN     3033.504852
7903  Zimbabwe  1992                 NaN     3054.889178
7904  Zimbabwe  1991                 NaN     3426.598094

# Question 16: 
Subset the combined DataFrame to keep only the data for 2004, 2009, and 2014. Check that this happened correctly.

In [25]:
subset =gdp_and_internet_use.loc[gdp_and_internet_use['Year'].isin([2004,2009,2014])]
print(subset)

                 Country  Year  Internet_Users_Pct  GDP_Per_Capita
0            Afghanistan  2014            6.390000     2102.385234
5            Afghanistan  2009            3.550000     1758.904043
10           Afghanistan  2004            0.105809     1200.278256
15               Albania  2014           60.100000    11623.866680
20               Albania  2009           41.200000    10346.864200
...                  ...   ...                 ...             ...
7843  West Bank and Gaza  2009                 NaN     5250.116075
7848  West Bank and Gaza  2004                 NaN     4485.525458
7864               World  2014                 NaN    15189.648510
7869               World  2009                 NaN    13396.524160
7874               World  2004                 NaN    12077.823820

[830 rows x 4 columns]

# Question 17:
Create three new DataFrames, one for 2004, one for 2009, and one for 2014. Give them meaningful names that aren't too long.

In [30]:
print(subset[subset['Year']==2004])

                  Country  Year  Internet_Users_Pct  GDP_Per_Capita
10            Afghanistan  2004            0.105809     1200.278256
25                Albania  2004            2.420388     7604.838002
46                Algeria  2004            4.634475    10058.435940
69                Andorra  2004           26.837954             NaN
88                 Angola  2004            0.464815     5593.241537
...                   ...   ...                 ...             ...
7698               Tuvalu  2004                 NaN     3336.952920
7761  Upper middle income  2004                 NaN     8567.061394
7818              Vietnam  2004                 NaN     3689.732423
7848   West Bank and Gaza  2004                 NaN     4485.525458
7874                World  2004                 NaN    12077.823820

[276 rows x 4 columns]

In [33]:
df_2004=subset[subset['Year']==2004]
print(df_2004)

                  Country  Year  Internet_Users_Pct  GDP_Per_Capita
10            Afghanistan  2004            0.105809     1200.278256
25                Albania  2004            2.420388     7604.838002
46                Algeria  2004            4.634475    10058.435940
69                Andorra  2004           26.837954             NaN
88                 Angola  2004            0.464815     5593.241537
...                   ...   ...                 ...             ...
7698               Tuvalu  2004                 NaN     3336.952920
7761  Upper middle income  2004                 NaN     8567.061394
7818              Vietnam  2004                 NaN     3689.732423
7848   West Bank and Gaza  2004                 NaN     4485.525458
7874                World  2004                 NaN    12077.823820

[276 rows x 4 columns]

Note: It won't work if my dataframe name starts with a number..

In [34]:
df_2009=subset[subset['Year']==2009]
print(df_2009)

                  Country  Year  Internet_Users_Pct  GDP_Per_Capita
5             Afghanistan  2009                3.55     1758.904043
20                Albania  2009               41.20    10346.864200
41                Algeria  2009               11.23    10782.361400
64                Andorra  2009               78.53             NaN
83                 Angola  2009                6.00     7643.493749
...                   ...   ...                 ...             ...
7602           The Gambia  2009                 NaN     2283.183556
7756  Upper middle income  2009                 NaN    11212.934080
7813              Vietnam  2009                 NaN     4830.304958
7843   West Bank and Gaza  2009                 NaN     5250.116075
7869                World  2009                 NaN    13396.524160

[277 rows x 4 columns]

In [35]:
df_2014=subset[subset['Year']==2014]
print(df_2014)

                  Country  Year  Internet_Users_Pct  GDP_Per_Capita
0             Afghanistan  2014                6.39     2102.385234
15                Albania  2014               60.10    11623.866680
36                Algeria  2014               18.09    11512.705410
59                Andorra  2014               95.90             NaN
78                 Angola  2014               21.26     8239.828837
...                   ...   ...                 ...             ...
7695               Tuvalu  2014                 NaN     3450.793169
7751  Upper middle income  2014                 NaN    14275.343980
7808              Vietnam  2014                 NaN     6098.489609
7838   West Bank and Gaza  2014                 NaN     5967.073437
7864                World  2014                 NaN    15189.648510

[277 rows x 4 columns]

# Question 18:
Which country had the highest percentage of internet users in 2014? What was the percentage? (Try typing the first 3 letters of your DataFrame name and hitting the tab key for auto-complete options).

Iceland with 98.16%

In [36]:
print(df_2014.nlargest(1, 'Internet_Users_Pct'))

      Country  Year  Internet_Users_Pct  GDP_Per_Capita
1866  Iceland  2014               98.16      49652.1495

Note: df.nlargest(1, 'col')

# Question 19:
Which country had the lowest percentage of internet users in 2014? What was the percentage?

People's Rep of Korea with 0%

Note: newdf = df.nsmallest(10, 'Column Name')

In [39]:
print(df_2014.nsmallest(1, 'Internet_Users_Pct'))

                          Country  Year  Internet_Users_Pct  GDP_Per_Capita
1065  Dem. People's Rep. of Korea  2014                 0.0             NaN

# Question 20:
Repeat for 2004 and 2009.

2004: highest percentage is Iceland at 93% and lowest is People's Rep. of Korea at 0%.

2009: highest percentage is Sweden at 83.89% and lowest is People's Rep. of Korea at 0%.

In [40]:
print(df_2009.nlargest(1, 'Internet_Users_Pct'))
print(df_2009.nsmallest(1, 'Internet_Users_Pct'))

      Country  Year  Internet_Users_Pct  GDP_Per_Capita
1871  Iceland  2009                93.0     48177.08412
                          Country  Year  Internet_Users_Pct  GDP_Per_Capita
1069  Dem. People's Rep. of Korea  2009                 0.0             NaN

In [41]:
print(df_2004.nlargest(1, 'Internet_Users_Pct'))
print(df_2004.nsmallest(1, 'Internet_Users_Pct'))

     Country  Year  Internet_Users_Pct  GDP_Per_Capita
3835  Sweden  2004               83.89      44496.0234
                          Country  Year  Internet_Users_Pct  GDP_Per_Capita
1074  Dem. People's Rep. of Korea  2004                 0.0             NaN

# Question 21: 
Which country had the highest gdp per capita in 2014? What was the gdp per capita?

2014: China with 156514.1338 GDP_Per_Capita

In [42]:
print(df_2014.nlargest(1, 'GDP_Per_Capita'))

               Country  Year  Internet_Users_Pct  GDP_Per_Capita
6394  Macao SAR, China  2014                 NaN     156514.1338

# Question 22: 
Which country had the lowest gdp per capita in 2014? What was the gdp per capita?

2014: Central African Republic with 822.610458

In [46]:
print(df_2014.nsmallest(1, 'GDP_Per_Capita'))

                       Country  Year  Internet_Users_Pct  GDP_Per_Capita
4906  Central African Republic  2014                 NaN      822.610458

# Question 23:
Create some scatterplots:
a. 2004 Percent Using the Internet vs GDP Per Capita
b. 2009 Percent Using the Internet vs GDP Per Capita
c. 2014 Percent Using the Internet vs GDP Per Capita